<div class="bloggers">
    <h1>Bloggers</h1>

    
    <div class="users">
        <% @users.each do |user| %>
            <%= render partial: 'blogger', locals: {user: user} %>
        <% end %>
    </div>
    
</div>
