<div class="bloggers">   
    <div class="users">
        <%= render partial: 'blogger', locals: {user: @user} %>
        <%= render partial: 'user_info', locals: {user: @user} %>
    </div>
    
    
</div>