<div class="bloggers">
    <h1>Bloggers</h1>

    
    <div class="users">
        <%= render partial: 'users/blogger', locals: {user: @user} %>
        <% @posts.each do |post| %>
            <%= render partial: 'post', locals: {post: post} %>
            <%= render partial: 'comments', locals: {post: post} %>
        <% end %>
    </div>
    
</div>