<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
</head>
<body>
    <h1>Here is a list of posts</h1>
    <ul>
    <% @posts.to_a.each do |post| %>
        <li><%= "Title: #{post.title}, Comment_count: #{post.comments_counter.to_i}, Like_count: #{post.likes_counter.to_i}, 'Post date': #{post.created_at}" %></li>
      <% end %>
    </ul>
</body>
</html>