<div class="bloggers">
    <h1>Bloggers</h1>

    
    <div class="users">
        <%= render partial: 'post_info', locals: {post: @post} %>
        <%= render partial: 'comments_info', locals: {post: @post} %>
    </div>
    
</div>